/* 
    General Styles
*/
* {
    margin: 0;
    padding: 0;
    }

.mymdbtn {
    margin: 10px;

}

.bkgtxtimg {
  background-color: #000000;
  opacity: 0.3;
  padding: 2px;
  margin: auto;
}

body {
    background-color: #f8f8f8;
}

.mdbfooter{
    background-color: #afafaf;
}

.bg-mycolor {
    background-color: #e6ebef;;
}